doctype html
html
  head
    title= site.title 
    meta(charset='UTF-8')
    meta(name='description', content='#{site.description}')
    meta(name='author', content='#{author.name}')
    meta(name='contact', content='#{author.email}')

    block stylesheets
        link(rel='stylesheet', href='/css/base.css')
        link(rel='stylesheet', href='/css/style.css')

    block headJavascripts
  body(class=typeof user !== 'undefined' && user.role === 'admin' ? 'logged-in admin' : '') 
    block header
        header.site-header.cool-blue-lightest(role='banner')
            div.logo
                a(href='/' title='#{site.title}')
                    img(src='//dummyimage.com/70x70/000/fff.png', alt='Logo')
                    h1= site.title
            div.user-controls
                if (typeof user !== 'undefined') 
                    p.welcome #{user.username}
                ul.usa-button-list.usa-unstyled-list
                    if (typeof user !== 'undefined' && user.role === 'admin')
                        li
                            a.usa-button(href='/admin/survey/view', title='View Survey Results') View Results 
                        li
                            a.usa-button(href='/admin/survey/manage', title='Manage Survey') Manage Survey
                        li
                            a.usa-button(href='/logout', title='Logout') Logout
                    else if (typeof user !== 'undefined')
                        li
                            a.usa-button(href='/logout', title='Logout') Logout
                    else
                        li
                            a.usa-button(href='/login', title='Login') Login
                        li
                            a.usa-button(href='/register', title='Register') Register

    div.main-content.usa-grid
        block content

    block javascripts
        script(type='text/javascript', src='/js/base.js')
